<launch>
<!-- Kinect driver using freenect.
Doc:
  http://wiki.ros.org/freenect_launch
and
  http://wiki.ros.org/freenect_camera

publishes the following topics:
  * /$(arg robot)/rgb_remote
  * /$(arg robot)/depth_remote
-->
<arg name="robot" />
<arg name="publish_tf" default="true" />
<!-- pass calibration files if needed -->
<arg name="rgb_camera_info_url"   default="" />
<arg name="depth_camera_info_url" default="" />

<!-- rgb remapping -->
<remap from="/$(arg robot)/camera/rgb/image_rect_color" to="/$(arg robot)/rgb_remote"/>

<group ns="$(arg robot)">
  <include file="$(find freenect_launch)/launch/freenect.launch">
    <arg name="publish_tf" value="$(arg publish_tf)" />
    <arg name="rgb_camera_info_url" value="$(arg rgb_camera_info_url)" />
    <arg name="depth_camera_info_url" value="$(arg depth_camera_info_url)" />
    <arg name="depth_registration"              value="true" />
    <!-- for rgbd_launch/processing.launch.xml -->
    <arg name="rgb_processing"                  value="true" />
    <arg name="ir_processing"                   value="false" />
    <arg name="depth_processing"                value="false" />
    <arg name="depth_registered_processing"     value="true" />
    <arg name="disparity_processing"            value="false" />
    <arg name="disparity_registered_processing" value="false" />
    <arg name="sw_registered_processing"        value="false" />
    <arg name="hw_registered_processing"        value="true" />
  </include>

  <!-- depth remapping: : convert from
    /foo/camera/depth_registered/hw_registered/image_rect_raw
      to
    /foo/depth_remote    -->
  <!-- from rgbd_launch/depth.launch.xml -->
  <node pkg="nodelet" type="nodelet" name="kinect_depth_raw2metric"
        args="load depth_image_proc/convert_metric camera/camera_nodelet_manager false"
        respawn="true">
    <remap from="image_raw" to="camera/depth_registered/hw_registered/image_rect_raw" />
    <remap from="image"     to="depth_remote" />
  </node>
</group>
</launch>
