<launch>
<!-- Kinect driver using freenect.
publishes the following topics:
  * /$(arg robot)/rgb_remote
  * /$(arg robot)/depth_remote

Documentation for common parameters:
  http://wiki.ros.org/rgbd_launch
  rosed rgbd_launch kinect_frames.launch
For specific parameters:
  http://wiki.ros.org/freenect_launch
  http://wiki.ros.org/freenect_camera
-->
<arg name="robot" />
<arg name="publish_tf" default="true" />
<!-- Skip N images for every image published (rgb/depth/depth_registered/ir) Range: 0 to 10 -->
<arg name="data_skip" default="4"/>
<!-- pass calibration files if needed -->
<arg name="rgb_camera_info_url"   default="" />
<arg name="depth_camera_info_url" default="" />
<!-- camera type (default: camera; ex: kinect)-->
<arg name="camera_type" default="camera"/>

<!-- rgb remapping -->
<remap from="/$(arg robot)_$(arg camera_type)/rgb/image_rect_color" to="/$(arg robot)/rgb_remote"/>

<!-- must use a unique "camera" arg to ensure unicity of TF,
    so prefix it with "robot" -->
<include file="$(find freenect_launch)/launch/freenect.launch">
  <arg name="camera" value="$(arg robot)_$(arg camera_type)" />
  <arg name="data_skip" value="$(arg data_skip)"/>
  <arg name="publish_tf" value="$(arg publish_tf)" />
  <arg name="rgb_camera_info_url" value="$(arg rgb_camera_info_url)" />
  <arg name="depth_camera_info_url" value="$(arg depth_camera_info_url)" />
  <arg name="depth_registration"              value="true" />
  <!-- for rgbd_launch/processing.launch.xml -->
  <arg name="rgb_processing"                  value="true" />
  <arg name="ir_processing"                   value="false" />
  <arg name="depth_processing"                value="false" />
  <arg name="depth_registered_processing"     value="true" />
  <arg name="disparity_processing"            value="false" />
  <arg name="disparity_registered_processing" value="false" />
  <arg name="sw_registered_processing"        value="false" />
  <arg name="hw_registered_processing"        value="true" />
</include>

<!-- depth remapping: : convert from
  /foo_camera/depth_registered/hw_registered/image_rect_raw
    to
  /foo/depth_remote    -->
<!-- from rgbd_launch/depth.launch.xml -->
<group ns="$(arg robot)_camera">
  <node pkg="nodelet" type="nodelet" name="kinect_depth_raw2metric"
        args="load depth_image_proc/convert_metric $(arg robot)_camera_nodelet_manager false"
        respawn="true">
    <remap from="image_raw" to="depth_registered/hw_registered/image_rect_raw" />
    <remap from="image"     to="/$(arg robot)/depth_remote" />
  </node>
</group>
</launch>
