<launch>
<arg name="robot"/>
<!-- Gamepad SOG RFPG Wireless:
      _________                             _________
     |  _____  |                           |  _____  |
     | |__6__| |                           | |__7__| |
     |  _____  |                           |  _____  |
     | |__4__| |                           | |__5__| |
     / _______ \                           / _______ \
    /..'_____'...............................'_____'..\
   /   |  -  |  '.   __   __   __   __   .'  |  _  |   \
  / ___| /A\ |___ \ |_8| |__| |__| |_9| / ___| /0\ |___ \
 / |      5      | ;  __           _   ; | _         _ | ;
 | | <-A4   A4+> | | |__|         |_|  | ||3|       (1)| |
 | |___   A   ___| ;SELECT       START ; |___       ___| ;
 |\    | \5/ |    /  _     ___      _   \    | (2) |    /|
 | \   |__+__|  .','" "', |___|  ,'" "', '.  |_____|  .' |
 |  '..______..' /  A1-  \ MODE /  A3-  \  '.._____..'   |
 |               |-A0   +|......|-A2   +|                |
 |              /\  A1+  /      \  A3+  /\               |
 |             /  '.___.'        '.___.'  \              |
 |            /     10             11      \             |
  \          /                              \           /
   \________/                                \_________/

 Logitech RumblePad 2:
   ...............
  |  [6]     [7]  |
  |  [4]     [5]  |
   ...............
  |   |      (3)  |
  |  -+-   (0) (2)|
  |   |      (1)  |
  / /...........\ \
 / /             \ \
-->
<group ns="$(arg robot)">
  <node pkg="kinect" type="joy2kinect_tilt.exe" name="joy2kinect_tilt"
        args="_up_button:=6  _down_button:=4" output="screen" respawn="true" />
  <node pkg="joy" type="joy_node" name="joy_node"
        args="_dev:=/dev/input/js0   _autorepeat_rate:=5" output="screen" respawn="true" />
</group>
</launch>

