<launch>
<arg name="robot" value="kinect_only"/>

<!-- the kinect node - must be outside of the group otherwise does
not transfer data -
http://answers.ros.org/question/12328/using-openni_launch-in-a-multirobot-system -->
<include file="$(find kinect)/launch/kinect_node_local.launch">
  <arg name="robot" value="$(arg robot)" />
</include>

<!-- the viewer must be just after kinect_node_no_compression
    otherwise no data is shown -->
<include file="$(find kinect)/launch/kinect_viewer.launch">
  <arg name="robot" value="$(arg robot)" />
</include>

<!-- TFs -->
<!-- odom => base_link-->
<group ns="$(arg robot)">
  <node pkg="tf" type="static_transform_publisher" name="base_link_tf_broadcaster"
          args="0 0 0   0 0 0   odom  base_link   100"/>
</group>
<!-- base_link => $(arg robot)_camera_link
     z>0 -> higher in the sky (small white lab table=0.75) -->
<include file="$(find kinect)/launch/kinect_aux.launch">
  <arg name="robot" value="$(arg robot)" />
  <arg name="kinect_aux_tf_broadcaster_args"
       value="_frame_id:=/base_link  _child_frame_id:=/$(arg robot)_camera_link
              _z:=1.3" />
</include>


<!-- ******************************* SKILLS ******************************* -->
<!-- ETTS -->
<group ns="$(arg robot)">
  <node pkg="music2sound" type="ros_midi_generator" name="ros_midi_generator"
        respawn="true"/>
</group>

</launch>
