<launch>
<arg name="use_openni2" default="false"/>
<arg name="robot" />

<!-- pass calibration files if needed -->
<arg name="rgb_camera_info_url"   default="" />
<arg name="depth_camera_info_url" default="" />
<arg name="depth_registration" default="true" />
<arg name="publish_tf" default="true" />

<!-- OpenNI 1.* -->
<include unless="$(arg use_openni2)" file="$(find kinect)/launch/kinect_node_openni1.launch">
  <arg name="robot" value="$(arg robot)" />
  <arg name="rgb_camera_info_url" value="$(arg rgb_camera_info_url)" />
  <arg name="depth_camera_info_url" value="$(arg depth_camera_info_url)" />
  <arg name="depth_registration" value="$(arg depth_registration)" />
  <arg name="publish_tf" value="$(arg publish_tf)" />
</include>

<!-- OpenNI 2.* -->
<include if="$(arg use_openni2)" file="$(find kinect)/launch/kinect_node_openni2.launch">
  <arg name="robot" value="$(arg robot)" />
  <arg name="depth_registration" value="$(arg depth_registration)" />
</include>

</launch>
