<launch>
<arg name="robot"/>

<remap from="/$(arg robot)_camera/rgb/image" to="/$(arg robot)/rgb"/>
<remap from="/$(arg robot)_camera/depth/image" to="/$(arg robot)/depth"/>
<remap from="/$(arg robot)_camera/user/image" to="/$(arg robot)/user"/>

<include file="$(find kinect)/launch/nite_node.launch">
  <arg name="robot" value="$(arg robot)" />
</include>
</launch>
