<launch>
<!-- publishes the following topics:
  * /$(arg robot)/rgb
  * /$(arg robot)/depth
  * /$(arg robot)/user
-->
<arg name="robot"/>
<arg name="publish_tf" default="true" />
<arg name="rate" default="10"/>

<remap from="/$(arg robot)_camera/rgb/image" to="/$(arg robot)/rgb"/>
<remap from="/$(arg robot)_camera/depth/image" to="/$(arg robot)/depth"/>
<remap from="/$(arg robot)_camera/user/image" to="/$(arg robot)/user"/>

<include file="$(find kinect)/launch/nite_node_remote.launch">
  <arg name="robot" value="$(arg robot)" />
  <arg name="publish_tf" default="$(arg publish_tf)" />
  <arg name="rate" value="$(arg rate)" />
</include>
</launch>
