<launch>
<!-- the new openni_launch node
documentation: http://mirror.umd.edu/roswiki/openni_camera.html

publishes the following topics:
  * /$(arg robot)/rgb_remote
  * /$(arg robot)/depth_remote
-->
<arg name="robot" />
<arg name="publish_tf" default="true" />
<!-- pass calibration files if needed -->
<arg name="rgb_camera_info_url"   default="" />
<arg name="depth_camera_info_url" default="" />

<!-- rgb remapping -->
<remap from="/$(arg robot)/camera/rgb/image_rect_color" to="/$(arg robot)/rgb_remote"/>

<!-- Skip N images for every image published (rgb/depth/depth_registered/ir) Range: 0 to 10 -->
<param name="/$(arg robot)/camera/driver/data_skip" value="4" />

<!-- Image output mode for the color/grayscale image Possible values are:
SXGA_15Hz (1): 1280x1024@15Hz, VGA_30Hz (2): 640x480@30Hz,   VGA_25Hz (3): 640x480@25Hz,
QVGA_25Hz (4): 320x240@25Hz,   QVGA_30Hz (5): 320x240@30Hz,  QVGA_60Hz (6): 320x240@60Hz,
QQVGA_25Hz (7): 160x120@25Hz,  QQVGA_30Hz (8): 160x120@30Hz, QQVGA_60Hz (9): 160x120@60Hz
Kinect supports natively just SXGA@15Hz, which actually streams ~10Hz, and VGA@30Hz.
All other modes at 30Hz are down sampled in the driver
and modes at 25Hz are not supported by the Kinect.
-->
 <param name="/$(arg robot)/camera/driver/image_mode" value="2" />

<!-- depth output mode Possible values are:
SXGA_15Hz (1): 1280x1024@15Hz, VGA_30Hz (2): 640x480@30Hz,   VGA_25Hz (3): 640x480@25Hz,
QVGA_25Hz (4): 320x240@25Hz,   QVGA_30Hz (5): 320x240@30Hz,  QVGA_60Hz (6): 320x240@60Hz,
QQVGA_25Hz (7): 160x120@25Hz,  QQVGA_30Hz (8): 160x120@30Hz, QQVGA_60Hz (9): 160x120@60Hz -->
<!-- <param name="/$(arg robot)/camera/driver/depth_mode" value="5" />-->

<group ns="$(arg robot)">
  <include file="$(find openni_launch)/launch/openni.launch">
    <arg name="rgb_camera_info_url" value="$(arg rgb_camera_info_url)" />
    <arg name="depth_camera_info_url" value="$(arg depth_camera_info_url)" />
    <arg name="publish_tf" value="$(arg publish_tf)" />
    <arg name="depth_registration" value="true" />
    <!-- for rgbd_launch/processing.launch.xml -->
    <arg name="rgb_processing"                  value="true" />
    <arg name="ir_processing"                   value="false" />
    <arg name="depth_processing"                value="false" />
    <arg name="depth_registered_processing"     value="true" />
    <arg name="disparity_processing"            value="false" />
    <arg name="disparity_registered_processing" value="false" />
    <arg name="sw_registered_processing"        value="false" />
    <arg name="hw_registered_processing"        value="true" />
  </include>

  <!-- depth remapping: : convert from
    /foo/camera/depth_registered/hw_registered/image_rect_raw
      to
    /foo/depth_remote    -->
  <!-- from rgbd_launch/depth.launch.xml -->
  <node pkg="nodelet" type="nodelet" name="kinect_depth_raw2metric"
        args="load depth_image_proc/convert_metric camera/camera_nodelet_manager false"
        respawn="true">
    <remap from="image_raw" to="camera/depth_registered/hw_registered/image_rect_raw" />
    <remap from="image"     to="depth_remote" />
  </node>
</group>
</launch>
