<launch>
<arg name="robot"/>
<group ns="$(arg robot)">
  <node pkg="image_transport" type="republish" name="decompress_depth"
        output="screen"  args="compressedDepth in:=/$(arg robot)/camera/depth/image
                               raw                out:=depth"/>

  <!--
    Compressed version:
    rostopic bw /camera/depth/image/compressedDepth
    Decompressed version:
    rostopic bw /depth
  -->
</group>
</launch>
